html {
  font-size: 62.5%;
  font-family: serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;


  font-size: 1.8rem;
  line-height: 1.618;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.site-header {
  background-color: #4a4a4a;
  color: #f9f9f9;
  padding: 15px 0;
}

.site-body {
  flex: 1 1 auto;
  display: flex;
  padding: 0;
}

@media (max-width: 900px) {
  .site-body {
    flex-direction: column;
  }
}

.site-body__main {
  flex: 1 1 50%;
  padding: 6px;
  background-color: azure;
}

.site-body__nav {
  flex: 1 1 25%;
  order: -1;
  padding: 6px;
  background-color: burlywood;
}

.site-body__aside {
  flex: 1 1 25%;
  padding: 6px;
  background-color: gainsboro;
}

.site-footer {
  background-color: #a09f9f;
  color: #f9f9f9;
  padding: 25px 0;
}

.cookie-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: aliceblue;
  width: 500px;
  padding: 20px;
  color: black;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}